In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Sangar,63.9242,127.4739,83.10,44,19,4.45,RU,2022-07-27 06:13:21
1,1,Narsaq,60.9167,-46.0500,46.62,87,25,1.83,GL,2022-07-27 06:13:21
2,2,Portland,45.5234,-122.6762,82.80,61,0,5.75,US,2022-07-27 06:12:15
3,3,Atuona,-9.8000,-139.0333,77.47,74,12,18.25,PF,2022-07-27 06:13:22
4,4,Cape Town,-33.9258,18.4232,59.38,81,6,10.00,ZA,2022-07-27 06:09:03

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5

SyntaxError: unexpected EOF while parsing (1773650997.py, line 1)

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Sangar,63.9242,127.4739,83.10,44,19,4.45,RU,2022-07-27 06:13:21
2,2,Portland,45.5234,-122.6762,82.80,61,0,5.75,US,2022-07-27 06:12:15
3,3,Atuona,-9.8000,-139.0333,77.47,74,12,18.25,PF,2022-07-27 06:13:22
8,8,Le Port,-20.9373,55.2919,75.20,71,2,4.34,RE,2022-07-27 06:13:24
9,9,Sao Filipe,14.8961,-24.4956,77.20,85,87,1.19,CV,2022-07-27 06:13:25
17,17,Balabac,7.9868,117.0645,85.37,70,49,9.78,PH,2022-07-27 06:13:28
20,20,Butaritari,3.0707,172.7902,82.02,75,24,19.91,KI,2022-07-27 06:13:30
22,22,Lucea,18.4510,-78.1736,78.66,78,40,3.65,JM,2022-07-27 06:13:31
24,24,Faanui,-16.4833,-151.7500,77.81,75,6,8.03,PF,2022-07-27 06:13:32
25,25,Kuryk,43.2000,51.6500,85.01,38,1,9.06,KZ,2022-07-27 06:13:32

In [14]:
preferred_cities_df.count()

City_ID       186
City          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
Country       186
Date          186
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Sangar      RU     83.10  63.9242  127.4739
2     Portland      US     82.80  45.5234 -122.6762
3       Atuona      PF     77.47  -9.8000 -139.0333
8      Le Port      RE     75.20 -20.9373   55.2919
9   Sao Filipe      CV     77.20  14.8961  -24.4956
17     Balabac      PH     85.37   7.9868  117.0645
20  Butaritari      KI     82.02   3.0707  172.7902
22       Lucea      JM     78.66  18.4510  -78.1736
24      Faanui      PF     77.81 -16.4833 -151.7500
25       Kuryk      KZ     85.01  43.2000   51.6500